.back-one-failed {
    background-color:#0a0a0b;
    height: 750px;
    width: 100%;
    padding: 100px;
}

.back-two-failed {
    background-color:  #b84a22;
    height: 600px;
    width: 100%;
    padding: 50px;
    border-radius: 20px;
}

.back-two-failed h1 {
    text-align: center;
    font-size: 3.5rem;
    color: #ffffff;
}

.back-two-failed i {
    font-size: 12rem;
    padding-top: 65px;
    color: #f01111;
    padding-bottom: 100px;
}

.back-two-failed a{
    color: #ffffff;
    text-decoration: none;
}


@media (max-width: 650px) {
    .back-one-failed {
        height: 800px;
        width: 100%;
        padding: 100px;
    }

    .back-two-failed {
        height: 100%;
        width: 100%;
        padding: 30px;
        border-radius: 20px;
    }

    .back-two-failed h1 {
        font-size: 3rem;
    }

    .back-two-failed i {
        font-size: 15rem;
        padding-top: 65px;
        color: #f01111;
        padding-bottom: 100px;
    }
}