:root{
    --main-color:#f3a20d;
    --main-color2:#3867d6;
}

.footer{

    background: #111;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 15px;

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: #fff;
}

.footer .box-container .box p{
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #eee;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color: var(--main-color);
}

.footer .box-container .box p:hover i{
    padding-right: 1.5rem;
    color: #fff;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid #222;
    color: #fff;
    padding: 2rem;
    padding-top: 2.5rem;
    margin-top: 1rem;
    font-size: 2rem;

}

.footer .credit span{
    color: var(--main-color);
}


