.contenedor {

    background-color: #111;
}

.login-title {
    text-align: center;
    padding: 5px;
    font-size: 5rem;
    color: #E3600D;
    padding: 25px;
}

.btn-login-google {
    text-align: center;
    font-size: 2rem;
    border-radius: 3px;
    padding: 15px;
    margin-left: 39.5%;
    background-color: #ffff;
}

.login-google {
    text-decoration: none;
    background-color: #ffff;
    color: black;
    margin: 100px 500px 100px 500px;
    padding: 1px 1px 1px 1px;

}

.line-login {
    background-color: #E3600D;
    height: 5px;
    width: 95%;
    margin: 25px;
}

.label-email-l {
    margin-left: 35%;
    color: #E3600D;
}

.label-pasw-l {
    margin-left: 35%;
    color: #E3600D;
}

.input-email-l {
    margin-left: 35%;
    width: 30%;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    text-decoration: underline;
    text-decoration-color: #E3600D;
    background-color: #ffff;

}

.input-pasw-l {
    width: 30%;
    margin-left: 35%;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    text-decoration: underline;
    text-decoration-color: #E3600D;
    background-color: #ffff;
}

/*input {
    margin-left: 35.5%;
    text-align: left;
    border-radius: 5px;
    padding: 15px 100px 15px 100px;
    text-decoration: underline;
    text-decoration-color: #E3600D;
    background-color: #ffff;
}*/

.btn-send-login {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    background-color: #E3600D;
    border-radius: 5px;
    padding: 15px 100px 15px 100px;
    margin-left: 38.5%;
    cursor: pointer;
}

.p-register {
    text-align: center;
    color: #ffff;
}

.a-register {
    text-decoration: none;
    color: #E3600D;
    cursor: pointer;
}

@media (max-width: 650px) {
    .btn-login-google {
        max-width: 200px;
    }

    .line-login{
        width: 90%;
    }

    .label-email-l{
        margin-left: 25%;
    }

    .input-email-l {
        margin-left: 25%;
        width: 50%;
    }

    .label-pasw-l{
        margin-left: 25%;
    }

    .input-pasw-l {
        margin-left: 25%;
        width: 50%;
    }

    .btn-send-login {
        max-width: 500px;
        margin: auto;
        padding: 15px 50px 15px 50px;
        margin-left: 28.5%;
    }
}