.box1 {
  position: absolute;
  width: 216.62px;
  height: 221.31px;
  left: 82.62px;
  top: 2250.49px;
  border-radius: 50px 19rem /152px 10px;


  background: #5E5E3D;
  filter: blur(15px);
}

.Cabeza {
  position: relative;
  width: 100%;
  height: 410px;
  left: 0px;
  top: 0px;
  background-color: #5E5E3D;
  overflow: hidden;

}

.Cabeza h1 {
  position: absolute;
  width: 934px;
  height: 118px;
  left: 352px;
  top: 114px;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: clamp(4rem, 7vw, 16rem);
  line-height: 138px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}


@media (max-width: 650px) {
  .Cabeza h1 {
    display: none;
  }

  .Cabeza img {
    display: flex;
    align-items: center;
   
  }



}

.Cabeza img {
  position: relative;
  width: 352px;
  height: 323px;
  left: 28px;
  top: 15px;


}


a {
  text-decoration: none;
}

.headerNav {
  position: sticky;
  height: 80px;
  width: 100%;

  background: #e67d06;
}

.nav {
  max-width: 100%;

}

.nav,
.nav_items {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-around;

}


.nav_link,
.button {
  color: #ffffff;
}

.nav_link {
  font-size: clamp(.5rem, 1.5vw, 2rem);
}

.nav_items {
  column-gap: 25px;
  list-style-type: none;
}

.nav_link:hover {
  color: #d9d9d9;

}

.button {
  padding: 6px 24px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}