.perfil-body{
    background-color: #5E5E3D;
    padding: 25px;
}
.square-perfil {
    background-color: #1a170e;
    display: flex;
    width: 95%;
    border-radius: 25px;
    margin: 25px;
}

.square-photo {
    width: 150px;
    border-radius: 5px;
    flex: 1;
    margin: 10%;
}

.square-photo img{
    border-radius: 25px;
    width: 100%;
}

.square-text {
    margin: 50px;
    color: #fff;
    text-align: center;
}

@media (max-width: 650px) {
    .square-photo {
        margin: 10%;
        width: 150px;
        border-radius: 5px;
    }

    .square-perfil {
        background-color: #1a170e;
        display: flex;
        width: 95%;
        border-radius: 25px;
        margin: 12.5px;
    }

    .square-photo img{
        height: 200px;
        width: 100%;
        border-radius: 25px;
    }

    .square-text {
        color: #fff;
        text-align: center;
        font-size: 2rem;
    }
}