.contenedor{

    background-color: #111;
}

.registro-title {
    text-align: center;
    padding: 5px;
    font-size: 5rem;
    color: #215bf0;
}

.success-message{
    color: #ffff;
    font-size: xx-large;
    font-weight: 700;
    text-decoration: underline;
    text-align: center;
}

.btn-regrs-log{
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    background-color: #215bf0;
    border-color: #215bf0;
    border-radius: 17px;
    padding: 15px 50px 15px 50px;
    cursor: pointer;
}

.a-regresar{
    text-decoration: none;
    color: #ffff;
}

.label-name-r{
    margin-left: 35%;
    color: #215bf0;
}

.input-name-r{
    margin-left: 35%;
    width: 35%;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    text-decoration: underline;
    text-decoration-color: #215bf0;
    background-color: #ffff;
}

.label-lastname-r{
    margin-left: 35%;
    color: #215bf0;
}

.input-lastname-r{
    margin-left: 35%;
    width: 35%;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    text-decoration: underline;
    text-decoration-color: #215bf0;
    background-color: #ffff;
}

.label-photo-r{
    margin-left: 35%;
    color: #215bf0;
}

.input-photo-r{
    margin-left: 35%;
    width: 35%;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    text-decoration: underline;
    text-decoration-color: #215bf0;
    background-color: #ffff;
}

.label-edad-r{
    margin-left: 35%;
    color: #215bf0;
}

.input-edad-r{
    margin-left: 35%;
    width: 35%;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    text-decoration: underline;
    text-decoration-color: #215bf0;
    background-color: #ffff;
}

.error-message-r{
    color: #f01111;
}

.label-email-r {
    margin-left: 35%;
    color: #215bf0;
}

.input-email-r{
    margin-left: 35%;
    width: 35%;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    text-decoration: underline;
    text-decoration-color: #215bf0;
    background-color: #ffff;
}

.label-pasw-r {
    margin-left: 35%;
    color: #215bf0;
}

.input-pasw-r{
    margin-left: 35%;
    width: 35%;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    text-decoration: underline;
    text-decoration-color: #215bf0;
    background-color: #ffff;
}

.line-register {
    background-color: #215bf0;
    border-color: #215bf0;
    height: 5px;
    width: 95%;
    margin: 25px;
}

.btn-send-register{
    font-size: 2rem;
    font-weight: 700;
    background-color: #215bf0;
    border-color: #215bf0;
    border-radius: 17px;
    padding: 15px 90px 15px 90px;
    margin-left: 37.5%;
    cursor: pointer;
}

.p-register {
    text-align: center;
    color: #ffff;
}

.a-register {
    text-decoration: none;
    color: #215bf0;
}

@media (max-width: 650px){
    .label-name-r{
        margin-left: 20%;
        width: 60%;
    }
    .input-name-r{
        margin-left: 20%;
        width: 60%;
    }

    .label-lastname-r{
        margin-left: 20%;
        width: 60%;
    }
    .input-lastname-r{
        margin-left: 20%;
        width: 60%;
    }

    .label-photo-r{
        margin-left: 20%;
        width: 60%;
    }

    .input-photo-r{
        margin-left: 20%;
        width: 60%;
    }

    .label-edad-r{
        margin-left: 20%;
        width: 60%;
    }

    .input-edad-r{
        margin-left: 20%;
        width: 60%;
    }

    .label-email-r{
        margin-left: 20%;
        width: 60%;
    }

    .input-email-r{
        margin-left: 20%;
        width: 60%;
    }

    .label-pasw-r{
        margin-left: 20%;
        width: 60%;
    }

    .input-pasw-r{
        margin-left: 20%;
        width: 60%;
    }

    .line-register{
        width: 90%;
    }

    .btn-send-register{
        max-width: 500px;
        margin: auto;
        margin-left: 27.5%;
        padding: 15px 50px 15px 50px;
    }
}