.back-one-success {
    background-color:#0a0a0b;
    height: 750px;
    width: 100%;
    padding: 100px;
}

.back-two-success {
    background-color:  #4b7794;
    height: 500px;
    width: 100%;
    padding: 50px;
    border-radius: 20px;
}

.back-two-success h1 {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.back-two-success i {
    font-size: 200px;
    padding-top: 65px;
    color: #0ce44d;
    padding-bottom: 100px;
}

.back-two-success a{
    color: #ffffff;
    text-decoration: none;
}
