*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;


}

body{
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    background: #1A170E;

}
main {
    position: relative;
    width: 100%;
    height: 7168px;
    margin: 0;
    padding: 0;
    top: 0;
    background: #1A170E;
}


.box1 {
    position: absolute;
    width: 216.62px;
    height: 221.31px;
    left: 82.62px;
    top: 2250.49px;
    border-radius: 50px 19rem /152px 10px;

    background: #5E5E3D;
    filter: blur(15px);
}

.Cabeza {
    position: relative;
    width: 100%;
    height: 378px;
    left: 0px;
    top: 0px;

    background-color: #5E5E3D;


}

.Cabeza h1 {

    position: relative;
    width: 934px;
    height: 118px;
    left: 352px;
    top: 114px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(4rem,7vw,16rem);
    line-height: 138px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.Cabeza img{
    position: absolute;
    width: 352px;
    height: 323px;
    left: 28px;
    top: 15px;


}


